body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

form div {
  margin: 1em;
  display: inline-block;
}

.topArtistNameHeader {
  font-size: 2em;
}

.loginButton {
  display: grid;
  text-align: center;
  justify-items: stretch;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: space-around;
}

.loginButton h1 {
  margin: 1em;
  padding: 1em;
  text-align: center;
}
